@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.section {
  margin-top: 16;
  margin-bottom: 4;
  font-size: 12;
  text-transform: uppercase;
  letter-spacing: 0.1;
  color: #757575;
}

.row {
  padding: 8 0;
}

.value {
  font-weight: bold;
}

.log {
  font-size: 12;
  color: #757575;
}
